body {
    background-color: #EDE8D5 !important; 
}


#animal-image {
    width: 250px;  
    height: 250px; 
    object-fit: cover; 
    display: none;
    margin-top: 40px;
}


.input-group {
    margin-left: 230px; /* Décalage vers la droite */
}

